/* ---- Variables ----*/
/* colors */
$col1: #187fc3;
$col2: #f9be00;
$col3: #ecd977;
$col4: #4c4b4c;
$col5: #aaa59f;

$dark1: #181818;
$dark2: #2a2a2a;
$grey1: #686868;
$grey2: #afafaf;
$light1: #eeeeee;
$light2: #d8d8d8;

$red: #b30027;
$green: #399b00;
$blue: #004eb3;

/* font */
$fSize: 16px; /* global font-size (default; 14px) */
$fFam: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /* global font-family (default: "Helvetica Neue",Helvetica,Arial,sans-serif") */

/* ---- Style ----*/
body {
  font-family: $fFam;
  font-size: $fSize;
  line-height: 1.42857143;
  color: $dark2;
  background-color: #fff;
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $green;
}


$marg: 80px;
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $marg;
}
#TOC {
  margin-top: $marg !important;
}

.list-group-item.active {
  background-color: $green;
  border-color: $green;
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
 color:#fff;
 background-color:$green;
}

.nav>li>a:focus,
.nav>li>a:hover {
 text-decoration:none;
 background-color:#eee;
 color: $green;
}

/* ---- special class ----*/
.note {
  border-style: solid;
  border-width: 1px;
  border-color: $grey2;
  border-radius: 4px;

  background-color: $light1;
  padding: 1em;
  margin: 1em;
}
.note:before {
  content: "Note:";
  margin: 1em;
  font-style: italic;
  text-decoration: underline;
}

.NOTE {
  border-style: solid;
  border-width: 1px;
  border-color: $red;
  border-radius: 4px;

  background-color: $light1;
  padding: 1em;
  margin: 1em;
  color: #ff5151;
}
.NOTE:before {
  content: "Important Note:";
  margin: 1em;
  font-style: italic;
  text-decoration: underline;
}

.nav-pills {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-color: $light2;
}

.tab-content {
  border-color: $light2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-bottom: 2em;
}

/* figure / img ------ */
.figure {
  text-align: center;
  p {
    color: $grey1;
    font-style: italic;
    font-size: $fSize * 0.75;
    margin-top: -10px;
  }
}

p {
  img {
    margin: 0px;
  }
}

/* show hide button ------ */
.btn {
  border-width: 0 0px 0px 0px;
  font-weight: normal;
  // text-transform: ;
}
.btn-default {
  color: $col1;
  background-color: #ffffff;
  border-color: #ffffff;
}

// .key {
//   text-align: center;
//   vertical-align: middle;
//   border: 1px solid;
//   border-radius: 2px;
//   border-color: $light2;
//   background-color: $light1;
//   font-size: 1.2em;
//   font-family: 'Courier New', Courier, monospace;
//   padding: 1px 3px 1px 3px;
// }

/* footer ------ */
.footer {
  color: $grey2;

  a {
    color: $green;
  }
}
