/* ---- Variables ----*/
/* colors */
/* font */
/* global font-size (default; 14px) */
/* global font-family (default: "Helvetica Neue",Helvetica,Arial,sans-serif") */
/* ---- Style ----*/
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #2a2a2a;
  background-color: #fff;
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 80px;
}

#TOC {
  margin-top: 80px !important;
}

/* ---- special class ----*/
.note {
  border-style: solid;
  border-width: 1px;
  border-color: #afafaf;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 1em;
  margin: 1em;
}

.note:before {
  content: "Note:";
  margin: 1em;
  font-style: italic;
  text-decoration: underline;
}

.NOTE {
  border-style: solid;
  border-width: 1px;
  border-color: #b30027;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 1em;
  margin: 1em;
  color: #ff5151;
}

.NOTE:before {
  content: "Important Note:";
  margin: 1em;
  font-style: italic;
  text-decoration: underline;
}

.nav-pills {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-color: #d8d8d8;
}

.tab-content {
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-bottom: 2em;
}

/* figure / img ------ */
.figure {
  text-align: center;
}

.figure p {
  color: #686868;
  font-style: italic;
  font-size: 12px;
  margin-top: -10px;
}

p img {
  margin: 0px;
}

/* show hide button ------ */
.btn {
  border-width: 0 0px 0px 0px;
  font-weight: normal;
}

.btn-default {
  color: #187fc3;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* footer ------ */
.footer {
  color: #afafaf;
}

.footer a {
  color: #399b00;
}

